.framer {
    position: relative;

    width: auto;
    height: 100%;

    margin: 0 auto;
    padding: 0px;

    @include mq(desktop) {
        overflow-x: scroll;
    }
}

.content {
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    margin-top: 73px;

    @include mq(desktop) {
        margin-top: 0;
        margin-left: 300px;
    }
}