.section {
    width: 100%;
    margin: 0 auto 100px;

    @include mq(desktop) {
        margin-bottom: 180px;
    }
}

.container {
    margin: 0 auto;
    padding: 0 16px;

    @include mq(tablet) {
        padding: 0 20px;
    }

    @include mq(desktop) {
        padding: 0 20px 0 0;
    }
}

.title {
    font-size: 52px;
    font-style: normal;
    font-weight: 525;
    line-height: 50px;
    letter-spacing: -2.6px;
    text-transform: uppercase;

    @include mq(desktop) {
        font-size: 78px;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: -4.29px;
    }

    &.is-hidden {
        display: none;
    }

    &--fixed {
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translate(-50%);

        @include mq(desktop) {
            transform: translateY(-50%);
        }
    }
}

.text {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.7px;
    color: var(--cl-txt-accent);

    &--light {
        color: var(--cl-txt-grey);
    }

    &--dark {
        color: var(--cl-txt-main);
    }

    &--white {
        color: var(--cl-txt-white);
    }
}