@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 32px;
    width: 1280px;
  }
}

:root {
  --main-white: #ffffff;
  --main-black: #000000;
  --bad-request-color: #ff001b;
  --subtitle-color: #ff6b08;
  --backdrop-bg-color: rgba(0, 0, 0, 0.25);
  --modal-bg-color: #ffffff;
  --active-btn-color: #ff6b01;
  --btn-color: rgba(0, 0, 0, 0.56);
  --modal-subTitle-color: #8c8c8c;
  --library-page-header-bcg-color: rgba(
    0,
    0,
    0,
    0.56
  );
}
