<section class="about section" id="about">
    <div class="about__container container">

        <div class="about__subsection story">
            <div class="about__title-group">
                <p class="about__text text translate" data-en="Hi there!" data-ua="Привіт!">Hi there!</p>
                <h2 class="about__title title translate" data-en="I'm Anastasia, and here’s my story"
                    data-ua="Я Анастасія, і ось моя історія">I'm Anastasia, and here’s my story</h2>
            </div>
            <picture>
                <source media="(min-width:1440px )"
                    srcset="./images/about/about1_desk.webp 1x, ./images/about/about1_desk@2x.webp 2x"
                    type="image/webp" />
                <source media="(max-width:1439,98px)"
                    srcset="./images/about/about1_mob.webp 1x, ./images/about/about1_mob@2x.webp 2x"
                    type="image/webp" />
                <img class="about__image" src="./images/about/about1_desk.png" alt="Anastasia"
                    srcset="./images/about/about1_desk.png 440w, ./images/about/about1_desk@2x.png 880w"
                    sizes="(min-width:1440px) 440px, (max-width:1439,98px) 343px, 100vw" width="343" height="529"
                    loading="lazy">
            </picture>
        </div>
        <div class="about__subsection benefits">
            <h3 class="about__title title visually-hidden translate"><span class="translate" data-en="Benefits"
                    data-ua="Переваги">Benefits</span> </h3>
            <ul class="benefits__list">
                <li class="benefits__item">
                    <span class="benefits__item-amount">6</span>
                    <span class="benefits__item-text text translate" data-en="Years in digital design"
                        data-ua="Років в цифровому дизайні">Years in digital design</span>
                </li>
                <li class="benefits__item">
                    <span class="benefits__item-amount">110+</span>
                    <span class="benefits__item-text text translate" data-en="Successfully completed projects"
                        data-ua="Успішно завершених проектів">Successfully completed projects</span>
                </li>
                <li class="benefits__item">
                    <span class="benefits__item-amount">10</span>
                    <span class="benefits__item-text text translate" data-en="International design awards"
                        data-ua="Міжнародних нагород за дизайн">International design awards</span>
                </li>
                <li class="benefits__item">
                    <span class="benefits__item-amount">$900K</span>
                    <span class="benefits__item-text text translate" data-en="Total valuation of my clientele"
                        data-ua="Загальна оцінка моєї клієнтури">Total valuation of my clientele</span>
                </li>
            </ul>
        </div>
        <div class="about__subsection team">
            <div class="about__title-group">
                <h3 class="about__subtitle">Me + my Team</h3>
                <p class="about__text text hidden-text1">I am an
                    Art Director, <span class="text--light">and at the helm of a
                    </span>team <span class="text text--light translate">comprising
                        like-minded individuals and skilled experts, and </span>together we:
                </p>

                <p class="about__text text hidden-text2 hidden">Я Арт-Директор, <span class="text--light">і на чолі
                    </span>команди
                    <span class="text text--light" data-ua=>що складається з однодумців і кваліфікованих експертів, а
                        також </span>разом ми:
                </p>
            </div>
            <ul class="team__list">
                <li class="team__item">
                    <span class="team__item-number">01</span>
                    <span class="team__item-text translate"
                        data-en="We create products that fuel business growth and attract new clients"
                        data-ua="Ми створюємо продукти, які стимулюють розвиток бізнесу та залучають нових клієнтів">We
                        create products that fuel business growth and attract new
                        clients</span>
                </li>
                <li class="team__item" id="sentinel">
                    <span class="team__item-number">02</span>
                    <span class="team__item-text translate"
                        data-en="Our design philosophy values functional aesthetics, and we always keep the end-user in mind"
                        data-ua="Наша філософія дизайну цінує функціональну естетику, і ми завжди дбаємо про кінцевого користувача">Our
                        design philosophy values functional aesthetics, and we
                        always
                        keep the end-user in mind</span>
                </li>
                <li class="team__item" id="sentinel">
                    <span class="team__item-number">03</span>
                    <span class="team__item-text translate"
                        data-en="By seamlessly blending form and function, we strive to deliver solutions that captivate and resonate"
                        data-ua="Бездоганно поєднуючи форму та функціональність, ми прагнемо створювати рішення, які захоплюють і резонують">By
                        seamlessly blending form and function, we strive to deliver
                        solutions that captivate and resonate</span>
                </li>
            </ul>
        </div>
        <div class="about__subsection hobbies">
            <picture>
                <source media="(min-width:1440px )"
                    srcset="./images/about/about2_desk.webp 1x, ./images/about/about2_desk@2x.webp 2x"
                    type="image/webp" />
                <source media="(max-width:1439,98px)"
                    srcset="./images/about/about2_mob.webp 1x, ./images/about/about2_mob@2x.webp 2x"
                    type="image/webp" />
                <img class="about__image" src="./images/about/about2_desk.png" alt="Team works at the table"
                    srcset="./images/about/about2_desk.png 430w, ./images/about/about2_desk@2x.png 860w"
                    sizes="(min-width:1440px) 430px, (min-width:768px) 343px, 100vw" width="343" height="460"
                    loading="lazy">
            </picture>
            <h3 class="about__subtitle translate" data-en="Me + hobbies" data-ua="Я + хобі">Me + hobbies</h3>
            <ul class="hobbies__list">
                <li class="hobbies__item translate" data-en="Practice yoga and meditation"
                    data-ua="Займаюсь йогою та медитацією">Practice yoga and meditation</li>
                <li class="hobbies__item translate" data-en="Coloring pictures for relaxation"
                    data-ua="Малюю для відпочинку">Coloring pictures for relaxation</li>
                <li class="hobbies__item translate" data-en="Travel extensively around the world"
                    data-ua="Багато подорожую по світу">Travel extensively around the world</li>
            </ul>
        </div>
        <div class="about__subsection principles">
            <h3 class="about__subtitle translate" data-en="Me + my principles" data-ua="Я + мої принципи">Me + my
                principles</h3>
            <ul class="principles__list">
                <li class="principles__item">
                    <span class="principles__item-title translate" data-en="01. Customized Solutions"
                        data-ua="01. Індивідуальні рішення">01. Customized Solutions</span>
                    <span class="principles__item-text text text--light translate"
                        data-en="Crafting tailored solutions that align with the unique needs of companies worldwide."
                        data-ua="Створення індивідуальних рішень, які відповідають унікальним потребам компаній у всьому світі.">Crafting
                        tailored solutions that align with the
                        unique needs of companies worldwide.</span>
                </li>
                <li class="principles__item" id="sentinel">
                    <span class="principles__item-title translate" data-en="02. Innovative Approach"
                        data-ua="02. Інноваційний підхід">02. Innovative Approach</span>
                    <span class="principles__item-text text text--light translate"
                        data-en="Embracing innovation as a driving force to create remarkable designs that stand out."
                        data-ua="Сприйняття інновацій як рушійної сили для створення чудових дизайнів, які виділяються.">Embracing
                        innovation as a driving force to
                        create
                        remarkable designs that stand out.</span>
                </li>
                <li class="principles__item" id="sentinel">
                    <span class="principles__item-title translate" data-en="03. User-Centric Focus"
                        data-ua="03. Орієнтація на користувача">03. User-Centric Focus</span>
                    <span class="principles__item-text text text--light translate"
                        data-en="Placing the end user at the center of every design, ensuring exceptional experiences."
                        data-ua="Розміщуючи кінцевого користувача в центрі кожного дизайну, забезпечуючи винятковий досвід.">Placing
                        the end user at the center of every
                        design,
                        ensuring exceptional experiences.</span>
                </li>
                <li class="principles__item" id="sentinel">
                    <span class="principles__item-title translate" data-en="04. Empowering Businesses"
                        data-ua="04. Розширення можливостей бізнесу">04. Empowering Businesses</span>
                    <span class="principles__item-text text text--light translate"
                        data-en="Helping companies flourish by harnessing the transformative power of design."
                        data-ua="Допомога компаніям процвітати, використовуючи трансформаційну силу дизайну.">Helping
                        companies flourish by harnessing the
                        transformative power of design.</span>
                </li>
            </ul>
        </div>
        <div class="about__subsection lifestyle">
            <picture>
                <source media="(min-width:1440px )"
                    srcset="./images/about/about3_desk.webp 1x, ./images/about/about3_desk@2x.webp 2x"
                    type="image/webp" />
                <source media="(max-width:1439px)"
                    srcset="./images/about/about3_mob.webp 1x, ./images/about/about3_mob@2x.webp 2x"
                    type="image/webp" />
                <img class="about__image" src="./images/about/about3_desk.png" alt="Girl smiles"
                    srcset="./images/about/about3_desk.png 230w, ./images/about/about3_desk@2x.png 460w"
                    sizes="(min-width:1440px) 230px, (max-width:1439px) 230px, 100vw" width="230" height="360"
                    loading="lazy">
            </picture>
            <p class="about__text text text--dark translate" data-en="More lifestyle on my"
                data-ua="Більше про життя в моєму"> More lifestyle on my <a class="about__link text"
                    href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" lang="en"
                    aria-label="Instagram">Instagram</a></p>
        </div>
    </div>
</section>