<section class="about section" id="about">
    <div class="about__container container">
        <div class="about__subsection story">
            <div class="about__title-group">
                <p class="about__text text">Hi there!</p>
                <h2 class="about__title title">I'm Anastasia, and here’s my story</h2>
            </div>
            <picture>
                <source media="(min-width:1440px )"
                    srcset="./images/about/about1_desk.webp 1x, ./images/about/about1_desk@2x.webp 2x"
                    type="image/webp" />
                <source media="(max-width:1439,98px)"
                    srcset="./images/about/about1_mob.webp 1x, ./images/about/about1_mob@2x.webp 2x"
                    type="image/webp" />
                <img class="about__image" src="./images/about/about1_desk.png" alt="Anastasia"
                    srcset="./images/about/about1_desk.png 440w, ./images/about/about1_desk@2x.png 880w"
                    sizes="(min-width:1440px) 440px, (max-width:1439,98px) 343px, 100vw" width="343" height="529"
                    loading="lazy">
            </picture>
        </div>
        <div class="about__subsection benefits">
            <h3 class="about__title title visually-hidden">Benefits</h3>
            <ul class="benefits__list">
                <li class="benefits__item">
                    <span class="benefits__item-amount">6</span>
                    <span class="benefits__item-text text">Years in digital design</span>
                </li>
                <li class="benefits__item">
                    <span class="benefits__item-amount">110+</span>
                    <span class="benefits__item-text text">Successfully completed projects</span>
                </li>
                <li class="benefits__item">
                    <span class="benefits__item-amount">10</span>
                    <span class="benefits__item-text text">International design awards</span>
                </li>
                <li class="benefits__item">
                    <span class="benefits__item-amount">$900K</span>
                    <span class="benefits__item-text text">Total valuation of my clientele</span>
                </li>
            </ul>
        </div>
        <div class="about__subsection team">
            <div class="about__title-group">
                <h3 class="about__subtitle">Me + my Team</h3>
                <p class="about__text text">I am an Art Director, <span class="text--light">and at the helm of a
                    </span>team
                    <span class="text--light">comprising
                        like-minded individuals and skilled experts, and </span>together we:
                </p>
            </div>
            <ul class="team__list">
                <li class="team__item">
                    <span class="team__item-number">01</span>
                    <span class="team__item-text">We create products that fuel business growth and attract new
                        clients</span>
                </li>
                <li class="team__item" id="sentinel">
                    <span class="team__item-number">02</span>
                    <span class="team__item-text">Our design philosophy values functional aesthetics, and we
                        always
                        keep the end-user in mind</span>
                </li>
                <li class="team__item" id="sentinel">
                    <span class="team__item-number">03</span>
                    <span class="team__item-text">By seamlessly blending form and function, we strive to deliver
                        solutions that captivate and resonate</span>
                </li>
            </ul>
        </div>
        <div class="about__subsection hobbies">
            <picture>
                <source media="(min-width:1440px )"
                    srcset="./images/about/about2_desk.webp 1x, ./images/about/about2_desk@2x.webp 2x"
                    type="image/webp" />
                <source media="(max-width:1439,98px)"
                    srcset="./images/about/about2_mob.webp 1x, ./images/about/about2_mob@2x.webp 2x"
                    type="image/webp" />
                <img class="about__image" src="./images/about/about2_desk.png" alt="Team works at the table"
                    srcset="./images/about/about2_desk.png 430w, ./images/about/about2_desk@2x.png 860w"
                    sizes="(min-width:1440px) 430px, (min-width:768px) 343px, 100vw" width="343" height="460"
                    loading="lazy">
            </picture>
            <h3 class="about__subtitle">Me + hobbies</h3>
            <ul class="hobbies__list">
                <li class="hobbies__item">Practice yoga and meditation</li>
                <li class="hobbies__item">Coloring pictures for relaxation</li>
                <li class="hobbies__item">Travel extensively around the world</li>
            </ul>
        </div>
        <div class="about__subsection principles">
            <h3 class="about__subtitle">Me + my principles</h3>
            <ul class="principles__list">
                <li class="principles__item">
                    <span class="principles__item-title">01. Customized Solutions</span>
                    <span class="principles__item-text text text--light">Crafting tailored solutions that align with the
                        unique needs of companies worldwide.</span>
                </li>
                <li class="principles__item" id="sentinel">
                    <span class="principles__item-title">02. Innovative Approach</span>
                    <span class="principles__item-text text text--light">Embracing innovation as a driving force to
                        create
                        remarkable designs that stand out.</span>
                </li>
                <li class="principles__item" id="sentinel">
                    <span class="principles__item-title">03. User-Centric Focus</span>
                    <span class="principles__item-text text text--light">Placing the end user at the center of every
                        design,
                        ensuring exceptional experiences.</span>
                </li>
                <li class="principles__item" id="sentinel">
                    <span class="principles__item-title">04. Empowering Businesses</span>
                    <span class="principles__item-text text text--light">Helping companies flourish by harnessing the
                        transformative power of design.</span>
                </li>
            </ul>
        </div>
        <div class="about__subsection lifestyle">
            <picture>
                <source media="(min-width:1440px )"
                    srcset="./images/about/about3_desk.webp 1x, ./images/about/about3_desk@2x.webp 2x"
                    type="image/webp" />
                <source media="(max-width:1439,98px)"
                    srcset="./images/about/about3_mob.webp 1x, ./images/about/about3_mob@2x.webp 2x"
                    type="image/webp" />
                <img class="about__image" src="./images/about/about3_desk.png" alt="Girl smiles"
                    srcset="./images/about/about3_desk.png 230w, ./images/about/about3_desk@2x.png 460w"
                    sizes="(min-width:1440px) 230px, (min-width:768px) 230px, 100vw" width="230" height="360"
                    loading="lazy">
            </picture>
            <p class="about__text text text--dark"> More lifestyle on my <a class="about__link text"
                    href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" lang="en"
                    aria-label="Instagram">Instagram</a></p>
        </div>
    </div>
</section>