<section class="cases section" id="cases">
  <div class="cases__container container">
    <h3 class="cases-title">My works</h3>

    <div class="slider">
      <ul class="slides list">
        <li class="slides-box">
          <div class="list-item__commerce">
            <p class="item-commerce__text">E-commerce</p>
            <button class="item-commerce__arrow">-></button>
          </div>

          <img
            src="./images/cases/mob/img1-mobile.png"
            alt=""
            class="list-item__img"
          />

          <img
            src="./images/cases/flags.png"
            alt=""
            class="list-item__imgFlags"
          />

          <img
            src="./images/cases/img1.png"
            alt=""
            class="list-item__imgDesk"
          />

          <h2 class="list-item__title title-desk">hello fresh</h2>
          <h2 class="list-item__title title-mob">MUSEUM FÜR NATURKUNDE</h2>
          <p class="list-item__discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>

        <li class="slides-box">
          <div class="list-item__commerce">
            <p class="item-commerce__text">E-commerce</p>
            <button class="item-commerce__arrow">-></button>
          </div>

          <img
            src="./images/cases/mob/img2-mobile.png"
            alt=""
            class="list-item__img"
          />

          <img
            src="./images/cases/flags.png"
            alt=""
            class="list-item__imgFlags"
          />

          <img
            src="./images/cases/img2.png"
            alt=""
            class="list-item__imgDesk"
          />

          <h2 class="list-item__title title-desk">MUSEUM FÜR NATURKUNDE</h2>
          <h2 class="list-item__title title-mob">hello fresh</h2>
          <p class="list-item__discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>

        <li class="slides-box">
          <div class="list-item__commerce">
            <p class="item-commerce__text">E-commerce</p>
            <button class="item-commerce__arrow">-></button>
          </div>
          
          <img
            src="./images/cases/mob/img3-mobile.png"
            alt=""
            class="list-item__img"
          />

          <img
            src="./images/cases/img3.png"
            alt=""
            class="list-item__imgDesk"
          />

          <h2 class="list-item__title title-desk">BMW</h2>
          <h2 class="list-item__title title-mob">Sisters aroma</h2>
          <p class="list-item__discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>

        <li class="slides-box">
          <div class="list-item__commerce">
            <p class="item-commerce__text">E-commerce</p>
            <button class="item-commerce__arrow">-></button>
          </div>

          <img
            src="./images/cases/mob/img4-mobile.png"
            alt=""
            class="list-item__img"
          />

          <img
            src="./images/cases/flags.png"
            alt=""
            class="list-item__imgFlags"
          />

          <img
            src="./images/cases/img4.png"
            alt=""
            class="list-item__imgDesk"
          />

          <h2 class="list-item__title title-desk">Sisters aroma</h2>
          <h2 class="list-item__title title-mob">Charite: Clinical Center</h2>
          <p class="list-item__discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>

        <li class="slides-box">
          <div class="list-item__commerce">
            <p class="item-commerce__text">E-commerce</p>
            <button class="item-commerce__arrow">-></button>
          </div>

          <img
            src="./images/cases/mob/img5-mobile.png"
            alt=""
            class="list-item__img"
          />

          <img
            src="./images/cases/flags.png"
            alt=""
            class="list-item__imgFlags"
          />

          <img
            src="./images/cases/img5.png"
            alt=""
            class="list-item__imgDesk"
          />

          <h2 class="list-item__title title-desk">Charite: Clinical Center</h2>
          <h2 class="list-item__title title-mob">BMW</h2>
          <p class="list-item__discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>
      </ul>

      <div class="slider-nav">
        <svg width="75" height="75" class="prev-btn btn">
          <use href="./images/sprite.svg#arrow-left"></use>
        </svg>

        <svg width="75" height="75" class="next-btn btn">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
