<section class="cases section" id="cases">
  <div class="cases__container container">
    <h2 class="cases__title">My works</h2>

    <div class="slider">
      <ul class="slides list">
        <li class="slides-box">
          <div class="list__item-commerce">
            <p class="item__commerce-text">E-commerce</p>
            <button class="item__commerce-arrow">-></button>
          </div>

          <img src="./images/cases/flags.png" alt="" class="list__item-imgFlags" />

          <picture>
            <source srcset="./images/cases/img1.png 1x, ./images/cases/img1@2x.png 2x" type="image/webp" />
            <!-- <source class="list__item-img"
                srcset="./images/cases/mob/img1-mobile.png 1x, ./images/cases/mob/img1-mobile@2x.png 2x"
                type="image/webp" /> -->
            <img class="list__item-imgDesk" src="./images/cases/img1.png" alt="Img1"
              srcset="./images/cases/img1.png 440w, ./images/cases/img1@2x.png 880w" loading="lazy">
          </picture>

          <img src="./images/cases/mob/img1-mobile.png" alt="" class="list__item-img" />

          <!-- <img
            src="./images/cases/img1.png"
            alt=""
            class="list__item-imgDesk"
          /> -->

          <h3 class="list__item-title title-desk">hello fresh</h3>
          <h3 class="list__item-title title-mob">MUSEUM FÜR NATURKUNDE</h3>
          <p class="list__item-discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>

        <li class="slides-box">
          <div class="list__item-commerce">
            <p class="item__commerce-text">E-commerce</p>
            <button class="item__commerce-arrow">-></button>
          </div>

          <img src="./images/cases/flags.png" alt="" class="list__item-imgFlags" />

          <picture>
            <source srcset="./images/cases/img2.png 1x, ./images/cases/img2@2x.png 2x" type="image/webp" />
            <!-- <source class="list__item-img"
                srcset="./images/cases/mob/img2-mobile.png 1x, ./images/cases/mob/img2-mobile@2x.png 2x"
                type="image/webp" /> -->
            <img class="list__item-imgDesk" src="./images/cases/img2.png" alt="Img1"
              srcset="./images/cases/img2.png 440w, ./images/cases/img2@2x.png 880w" loading="lazy">
          </picture>

          <img src="./images/cases/mob/img2-mobile.png" alt="" class="list__item-img" />

          <!-- <img src="./images/cases/img2.png" alt="" class="list__item-imgDesk" /> -->

          <h3 class="list__item-title title-desk">MUSEUM FÜR NATURKUNDE</h3>
          <h3 class="list__item-title title-mob">hello fresh</h3>
          <p class="list__item-discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>

        <li class="slides-box">
          <div class="list__item-commerce">
            <p class="item__commerce-text">E-commerce</p>
            <button class="item__commerce-arrow">-></button>
          </div>

          <picture>
            <source srcset="./images/cases/img3.png 1x, ./images/cases/img3@2x.png 2x" type="image/webp" />
            <!-- <source class="list__item-img"
                srcset="./images/cases/mob/img3-mobile.png 1x, ./images/cases/mob/img3@2x-mobile.png 2x"
                type="image/webp" /> -->
            <img class="list__item-imgDesk" src="./images/cases/img3.png" alt="Img1"
              srcset="./images/cases/img3.png 440w, ./images/cases/img3@2x.png 880w" loading="lazy">
          </picture>

          <img src="./images/cases/mob/img3-mobile.png" alt="" class="list__item-img" />

          <!-- <img src="./images/cases/img3.png" alt="" class="list__item-imgDesk" /> -->

          <h3 class="list__item-title title-desk">BMW</h3>
          <h3 class="list__item-title title-mob">Sisters aroma</h3>
          <p class="list__item-discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>

        <li class="slides-box">
          <div class="list__item-commerce">
            <p class="item__commerce-text">E-commerce</p>
            <button class="item__commerce-arrow">-></button>
          </div>

          <img src="./images/cases/flags.png" alt="" class="list__item-imgFlags" />

          <picture>
            <source srcset="./images/cases/img4.png 1x, ./images/cases/img4@2x.png 2x" type="image/webp" />
            <!-- <source class="list__item-img"
                srcset="./images/cases/img4-mobile.png 1x, ./images/cases/img4-mobile@2x-mobile.png 2x"
                type="image/webp" /> -->
            <img class="list__item-imgDesk" src="./images/cases/img4.png" alt="Img1"
              srcset="./images/cases/img3.png 440w, ./images/cases/img4@2x.png 880w" loading="lazy">
          </picture>

          <img src="./images/cases/mob/img4-mobile.png" alt="" class="list__item-img" />

          <!-- <img src="./images/cases/img4.png" alt="" class="list__item-imgDesk" /> -->

          <h3 class="list__item-title title-desk">Sisters aroma</h3>
          <h3 class="list__item-title title-mob">Charite: Clinical Center</h3>
          <p class="list__item-discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>

        <li class="slides-box">
          <div class="list__item-commerce">
            <p class="item__commerce-text">E-commerce</p>
            <button class="item__commerce-arrow">-></button>
          </div>

          <img src="./images/cases/flags.png" alt="" class="list__item-imgFlags" />

          <picture>
            <source srcset="./images/cases/img5.png 1x, ./images/cases/img5@2x.png 2x" type="image/webp" />
            <!-- <source class="list__item-img"
                srcset="./images/cases/img5-mobile.png 1x, ./images/cases/img5-mobile@2x-mobile.png 2x"
                type="image/webp" /> -->
            <img class="list__item-imgDesk" src="./images/cases/img5.png" alt="Img1"
              srcset="./images/cases/img5.png 440w, ./images/cases/img5@2x.png 880w" loading="lazy">
          </picture>

          <img src="./images/cases/mob/img5-mobile.png" alt="" class="list__item-img" />


          <!-- <img src="./images/cases/img5.png" alt="" class="list__item-imgDesk" /> -->

          <h3 class="list__item-title title-desk">Charite: Clinical Center</h3>
          <h3 class="list__item-title title-mob">BMW</h3>
          <p class="list__item-discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>
      </ul>

      <div class="slider-nav">
        <svg width="75" height="75" class="prev-btn btn">
          <use href="./images/sprite.svg#arrow-left"></use>
        </svg>

        <svg width="75" height="75" class="next-btn btn">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>