<section class="cases section" id="cases">
  <div class="cases__container container">
    <h3 class="cases-title">My works</h3>

    <div class="slider">
      <ul class="slides">
        <li class="slides-box">
          <img
            src="./images/cases/mob/img1-mobile.png"
            alt=""
            class="list-item_img"
          />

          <h2 class="list-item-title">MUSEUM FÜR NATURKUNDE</h2>
          <p class="list-item-discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>

        <li class="slides-box">
          <img
            src="./images/cases/mob/img2-mobile.png"
            alt=""
            class="list-item_img"
          />

          <h2 class="list-item-title">hello fresh</h2>
          <p class="list-item-discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>

        <li class="slides-box">
          <img
            src="./images/cases/mob/img3-mobile.png"
            alt=""
            class="list-item_img"
          />

          <h2 class="list-item-title">Sisters aroma</h2>
          <p class="list-item-discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>

        <li class="slides-box">
          <img
            src="./images/cases/mob/img4-mobile.png"
            alt=""
            class="list-item_img"
          />

          <h2 class="list-item-title">Charite: Clinical Center</h2>
          <p class="list-item-discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>

        <li class="slides-box">
          <img
            src="./images/cases/mob/img5-mobile.png"
            alt=""
            class="list-item_img"
          />

          <h2 class="list-item-title">BMW</h2>
          <p class="list-item-discr">
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries. Lorem ipsum
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
