<section class="contacts section" id="contacts">
    <div class=" container">
        <div class="contacts__container">
            <h2 class="contacts-title title">Contacts</h2>

            <form class="contact__form">
                <div class="contact__form-box">
                    <label class="contact__form-lable">
                        <input class="contact__form-inp" type="text" placeholder="James Bond">
                        <span class="contact__form-inp-span">Name</span>
                    </label>
                    <label class="contact__form-lable">
                        <input class="contact__form-inp" type="text" placeholder="+123456789">
                        <span class="contact__form-inp-span">Where you can be contacted</span>
                    </label>
                </div>

                <p class="contact__form-price-title">Choose your budget:</p>
                <div class="contact__form-price">
                    <label class="contact__form-price-lable">
                        <input class="contact__form-price-inp" type="radio" name="budget" value="300-800">
                        <span class="contact__form-price-span">$300 - $800</span>
                    </label>
                    <label class="contact__form-price-lable">
                        <input class="contact__form-price-inp" type="radio" name="budget" value="800-1200">
                        <span class="contact__form-price-span">$800 - $1200</span>
                    </label>
                    <label class="contact__form-price-lable">
                        <input class="contact__form-price-inp" type="radio" name="budget" value="1200-2000">
                        <span class="contact__form-price-span">$1200 - $2000</span>
                    </label>
                    <label class="contact__form-price-lable">
                        <input class="contact__form-price-inp" type="radio" name="budget" value="2000-3000">
                        <span class="contact__form-price-span">$2000 - $3000</span>
                    </label>
                </div>

                <label class="contact__form-lable">
                    <textarea class="contact__form-textarea" name="textarea" id="textarea" cols="30" rows="1"
                        placeholder="Message"></textarea>
                    <span class="contact__form-inp-span">A few words about the project</span>
                </label>

                <div class="contact__form-btn">
                    <button type="button" class="contacts-btn">Contact us</button>

                </div>

            </form>
        </div>

            <div class="socials">
                <div class="socials__telegram-box">
                    <p class="socials-title">You can contact me on</p>
                    <a href="#" class="socials-telegram">Telegram</a>
                </div>

                <p class="socials-or">or</p>

                <ul class="socials__list">
                    <li class="socials__list-item">Instagram</li>
                    <li class="socials__list-item">Gmail</li>
                    <li class="socials__list-item">WhatsApp</li>
                    <li class="socials__list-item">Behance</li>
                    <li class="socials__list-item">Linkedin</li>
                </ul>
            </div>
    </div>
</section>