<section class="contacts section" id="contacts">
    <div class="contacts__container-wrap">
        <div class="contacts__container">
            <h2 class="contacts-title title translate" data-en="Contacts" data-ua="Контакти">Contacts</h2>

            <form class="contacts__form">
                <div class="contacts__form-box">
                    <label class="contacts__form-lable">
                        <input class="contacts__form-inp" type="text" placeholder="James Bond">
                        <span class="contacts__form-inp-span translate" data-en="Name" data-ua="Ім'я" >Name</span>
                    </label>
                    <label class="contacts__form-lable">
                        <input class="contacts__form-inp" type="text" placeholder="+123456789">
                        <span class="contacts__form-inp-span translate" data-en="Where you can be contacted" data-ua="Де з вами можна зв'язатися">Where you can be contacted</span>
                    </label>
                </div>

                <p class="contacts__form-price-title translate" data-en="Choose your budget" data-ua="Виберіть свій бюджет">Choose your budget:</p>
                <div class="contacts__form-price">
                    <label class="contacts__form-price-lable">
                        <input class="contacts__form-price-inp" type="radio" name="budget" value="300-800">
                        <span class="contacts__form-price-span">$300 - $800</span>
                    </label>
                    <label class="contacts__form-price-lable">
                        <input class="contacts__form-price-inp" type="radio" name="budget" value="800-1200">
                        <span class="contacts__form-price-span">$800 - $1200</span>
                    </label>
                    <label class="contacts__form-price-lable">
                        <input class="contacts__form-price-inp" type="radio" name="budget" value="1200-2000">
                        <span class="contacts__form-price-span">$1200 - $2000</span>
                    </label>
                    <label class="contacts__form-price-lable">
                        <input class="contacts__form-price-inp" type="radio" name="budget" value="2000-3000">
                        <span class="contacts__form-price-span">$2000 - $3000</span>
                    </label>
                </div>

                <label class="contacts__form-lable">
                    <textarea class="contacts__form-textarea" name="textarea" id="textarea" cols="30" rows="1"
                        placeholder="Message"></textarea>
                    <span class="contacts__form-inp-span translate" data-en="A few words about the project" data-ua="Кілька слів про проект">A few words about the project</span>
                </label>

                <div class="contacts__form-btn">
                    <button type="button" class="contacts-btn">
                        <svg class="contacts-btn-icon" width="13" height="14">
                            <use href="./images/sprite.svg#flower"></use>
                        </svg>

                        <span class="contacts-btn-text translate" data-en="Contact us" data-ua="Зв'яжіться з нами">Contact us</span>
                    </button>
                </div>
            </form>
        </div>

        <div class="socials">
            <div class="socials__telegram-box">
                <p class="socials-title translate" data-en="You can contact me on" data-ua="Ви можете зв'язатися зі мною на">You can contact me on</p>
                <a href="#" class="socials-telegram">Telegram</a>
            </div>

            <p class="socials-or">or</p>

            <ul class="socials__list">
                <li class="socials__list-item">Instagram</li>
                <li class="socials__list-item">Gmail</li>
                <li class="socials__list-item">WhatsApp</li>
                <li class="socials__list-item">Behance</li>
                <li class="socials__list-item">Linkedin</li>
            </ul>
        </div>
    </div>
</section>