<section class="faq section" id="faq">
    <div class="faq__container container">
        <h2 class="faq-title">FAQ</h2>
        <h2 class="faq-title-desk translate" data-en="Questions and
        Answers" data-ua="Питання і Відповіді">Questions and
            Answers</h2>

        <ul class="faq__list">
            <li class="faq__list-item">
                <h3 class="faq__list-item-title"><span class="faq__list-item-number">01</span><span class="translate"
                        data-en="How do you work on projects?" data-ua="Як ви працюєте над проектами?"> How do you work on
                        projects?</span></h3>
                <p class="faq__list-item-discr translate" data-en="The workflow consists of several stages, each of which includes an agreement with the client. We
                we show you our work, you give feedback, and together we come to the desired result.
                Thus, the end result will not surprise you, and you can always adjust
                direction in design." data-ua="Робочий процес складається з кількох етапів, кожен з яких включає узгодження з клієнтом. ми
                ми показуємо вам нашу роботу, ви даєте відгук, і ми разом приходимо до бажаного результату.
                Таким чином, кінцевий результат вас не здивує, і ви завжди можете підкоригувати
                напрямок в дизайні.">
                    The workflow consists of several stages, each of which includes an agreement with the client. We
                    we show you our work, you give feedback, and together we come to the desired result.
                    Thus, the end result will not surprise you, and you can always adjust
                    direction in design.
                </p>

                <div class="faq__arrow__box-desk">
                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="faq__arrow__box-mobile">
                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="faq__list-item">
                <h3 class="faq__list-item-title translate"><span class="faq__list-item-number">02</span> <span
                        class="translate" data-en="What if I don't
                    like the outcome?" data-ua="Що робити, якщо мені не сподобається результат?"> What if I don't
                        like the outcome? </span></h3>
                <p class="faq__list-item-discr translate" data-en="Me and my team interact with clients throughout the entire process,
                considering their feedback and preferences, and analyzing the ultimate goals of website creation to
                achieve the
                best outcome." data-ua="Я та моя команда взаємодіємо з клієнтами протягом усього процесу,
                враховуючи їхні відгуки та вподобання, а також аналізуючи кінцеві цілі створення веб-сайту досягти
                найкращий результат.">
                    Me and my team interact with clients throughout the entire process,
                    considering their feedback and preferences, and analyzing the ultimate goals of website creation to
                    achieve the
                    best outcome.
                </p>

                <div class="faq__arrow__box-desk">
                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="faq__arrow__box-mobile">
                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="faq__list-item">
                <h3 class="faq__list-item-title"><span class="faq__list-item-number">03</span> <span class="translate"
                        data-en="What should I do if I
                    don't have ready-made text?" data-ua="Що робити, якщо у мене немає готового тексту?"> What should I
                        do if I
                        don't have ready-made text?</span></h3>
                <p class="faq__list-item-discr translate" data-en="If you don't have text ready, it's not a problem. We will collect
                all the materials you have, and at the prototyping stage we will jointly write texts or involve
                copywriter
                to create quality content."
                    data-ua="Якщо у вас немає готового тексту, це не біда. Ми зберемо всі наявні у вас матеріали, а на етапі прототипування спільно напишемо тексти або залучимо копірайтера для створення якісного контенту.">
                    If you don't have text ready, it's not a problem. We will collect
                    all the materials you have, and at the prototyping stage we will jointly write texts or involve
                    copywriter
                    to create quality content.
                </p>

                <div class="faq__arrow__box-desk">
                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="faq__arrow__box-mobile">
                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="faq__list-item">
                <h3 class="faq__list-item-title"><span class="faq__list-item-number">04</span><span class="translate"
                        data-en="Do I need to have brand identity for website creation?"
                        data-ua="Чи потрібен мені бренд для створення сайту?">
                        Do I need to have brand identity for website creation?</span></h3>
                <p class="faq__list-item-discr translate" data-en="No, it is not necessary to have a ready-made corporate identity. We
                 discuss in detail your feelings, requirements and preferences, and also consider references. On
                these
                data, we develop a design that becomes the starting point for the visual appearance of everything
                your brand."
                    data-ua="Ні, не обов'язково мати готовий фірмовий стиль. Ми детально обговорюємо ваші відчуття, вимоги та переваги, а також розглядаємо рекомендації. На основі цих даних ми розробляємо дизайн, який стає відправною точкою для візуального вигляду всього вашого бренду.">
                    No, it is not necessary to have a ready-made corporate identity. We
                    discuss in detail your feelings, requirements and preferences, and also consider references. On
                    these
                    data, we develop a design that becomes the starting point for the visual appearance of everything
                    your brand.
                </p>

                <div class="faq__arrow__box-desk">
                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="faq__arrow__box-mobile">
                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="faq__list-item">
                <h3 class="faq__list-item-title"><span class="faq__list-item-number">05</span><span class="translate"
                        data-en="What are your project deadlines?" data-ua="Які терміни виконання вашого проекту?">What
                        are your project
                        deadlines?</span></h3>
                <p class="faq__list-item-discr translate"
                    data-en="We are always ready to adapt to your terms. If you need create website very fast, we offer express design service. There are many specialists in our team, and we always ready to help."
                    data-ua="Ми завжди готові підлаштуватися під ваші умови. Якщо вам потрібно створити сайт дуже швидко, ми пропонуємо послугу експрес-дизайну. У нашій команді багато фахівців, і ми завжди готові допомогти.">
                    We are always ready to adapt to your terms. If you need
                    create
                    website very fast, we offer express design service. There are many specialists in our team, and
                    we always
                    ready to help.
                </p>

                <div class="faq__arrow__box-desk">
                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="faq__arrow__box-mobile">
                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="faq__list-item">
                <h3 class="faq__list-item-title"><span class="faq__list-item-number">06</span><span class="translate"
                        data-en="Do you guarantee high conversion rates for your websites?"
                        data-ua="Чи гарантуєте ви високі коефіцієнти конверсії для своїх веб-сайтів?">Do
                        you guarantee high
                        conversion rates for your websites?</span></h3>
                <p class="faq__list-item-discr translate"
                    data-en="We make every effort to make the site user-friendly for users well indexed by search engines and relevant business tasks, including increase in sales. However, the conversion depends not only on the site itself, but also on other factors, such as the quality of advertising, the clarity of the offer, the demand for the product, etc."
                    data-ua="Ми докладаємо всіх зусиль, щоб зробити сайт зручним для користувачів, добре індексованим пошуковими системами та відповідним бізнес-завданням, у тому числі збільшення продажів. Однак конверсія залежить не тільки від самого сайту, а й від інших факторів, таких як якість реклами, зрозумілість пропозиції, попит на товар і т.д.">
                    We make every effort to make the site user-friendly
                    for users well indexed by search engines and relevant business tasks,
                    including
                    increase in sales. However, the conversion depends not only on the site itself, but also on other
                    factors,
                    such as
                    the quality of advertising, the clarity of the offer, the demand for the product, etc.
                </p>

                <div class="faq__arrow__box-desk">
                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="faq__arrow__box-mobile">
                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="faq__list-item">
                <h3 class="faq__list-item-title"><span class="faq__list-item-number">07</span><span class="translate"
                        data-en="Do you have an turnkey services option?"
                        data-ua="У вас є варіант надання послуг під ключ?"> Do you have an turnkey
                        services option?</span></h3>
                <p class="faq__list-item-discr translate" data-en="We offer turnkey services including:
                1. copywriting
                2. UI/UX design
                3. stretch on Webflow.
                This option provides you with the full range of work required to create and
                launching your site.s" data-ua="Ми пропонуємо послуги під ключ, включаючи:
                1. копірайтинг
                2. UI/UX дизайн
                3. розгорнути на Webflow.
                Цей варіант надає вам весь спектр робіт, необхідних для створення та запуску сайту.">
                    We offer turnkey services including:
                    1. copywriting
                    2. UI/UX design
                    3. stretch on Webflow.
                    This option provides you with the full range of work required to create and
                    launching your site.
                </p>

                <div class="faq__arrow__box-desk">
                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="faq__arrow__box-mobile">
                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="faq__arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
</section>