<section class="faq section" id="faq">
    <div class="faq__container container">
        <h2 class="faq-title">FAQ</h2>
        <h2 class="faq-title-desk">Questions and
            Answers</h2>

        <ul class="faq__list">
            <li class="faq__list-item">
                <h3 class="faq__list-item-title"><span class="faq__list-item-number">01</span> How do you work on projects?</h3>
                <p class="faq__list-item-discr">
                    The workflow consists of several stages, each of which includes an agreement with the client. We
                    we show you our work, you give feedback, and together we come to the desired result.
                    Thus, the end result will not surprise you, and you can always adjust
                    direction in design.
                </p>

                <div class="arrow__box-desk">
                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="arrow__box-mobile">
                    <svg width="25" height="25" class="arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="faq__list-item">
                <h3 class="faq__list-item-title"><span class="faq__list-item-number">02</span> What if I don't like the outcome?</h3>
                <p class="faq__list-item-discr">
                    Me and my team interact with clients throughout the entire process,
                    considering their feedback and preferences, and analyzing the ultimate goals of website creation to
                    achieve the
                    best outcome.
                </p>

                <div class="arrow__box-desk">
                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="arrow__box-mobile">
                    <svg width="25" height="25" class="arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="faq__list-item">
                <h3 class="faq__list-item-title"><span class="faq__list-item-number">03</span> What should I do if I don't have ready-made text?</h3>
                <p class="faq__list-item-discr">
                    If you don't have text ready, it's not a problem. We will collect
                    all the materials you have, and at the prototyping stage we will jointly write texts or involve
                    copywriter
                    to create quality content.
                </p>

                <div class="arrow__box-desk">
                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="arrow__box-mobile">
                    <svg width="25" height="25" class="arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="faq__list-item">
                <h3 class="faq__list-item-title"><span class="faq__list-item-number">04</span>Do I need to have brand identity for website creation?</h3>
                <p class="faq__list-item-discr">
                    No, it is not necessary to have a ready-made corporate identity. We
                    we discuss in detail your feelings, requirements and preferences, and also consider references. On
                    these
                    data, we develop a design that becomes the starting point for the visual appearance of everything
                    your brand.
                </p>

                <div class="arrow__box-desk">
                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="arrow__box-mobile">
                    <svg width="25" height="25" class="arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="faq__list-item">
                <h3 class="faq__list-item-title"><span class="faq__list-item-number">05</span>What are your project deadlines?</h3>
                <p class="faq__list-item-discr">
                    We are always ready to adapt to your terms. If you need
                    create
                    website very fast, we offer express design service. There are many specialists in our team, and
                    we always
                    ready to help.
                </p>

                <div class="arrow__box-desk">
                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="arrow__box-mobile">
                    <svg width="25" height="25" class="arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="faq__list-item">
                <h3 class="faq__list-item-title"><span class="faq__list-item-number">06</span>Do you guarantee high conversion rates for your websites?</h3>
                <p class="faq__list-item-discr">
                    We make every effort to make the site user-friendly
                    for users well indexed by search engines and relevant business tasks,
                    including
                    increase in sales. However, the conversion depends not only on the site itself, but also on other
                    factors,
                    such as
                    the quality of advertising, the clarity of the offer, the demand for the product, etc.
                </p>

                <div class="arrow__box-desk">
                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="arrow__box-mobile">
                    <svg width="25" height="25" class="arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>

            <li class="faq__list-item">
                <h3 class="faq__list-item-title"><span class="faq__list-item-number">07</span>Do you have an turnkey services option?</h3>
                <p class="faq__list-item-discr">
                    We offer turnkey services including:
                    1. copywriting
                    2. UI/UX design
                    3. stretch on Webflow.
                    This option provides you with the full range of work required to create and
                    launching your site.
                </p>

                <div class="arrow__box-desk">
                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk1">
                        <use href="./images/sprite.svg#plus"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-desk-icon btn-desk2">
                        <use href="./images/sprite.svg#minus"></use>
                    </svg>
                </div>

                <div class="arrow__box-mobile">
                    <svg width="25" height="25" class="arrow__box-mobile-icon btn1">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>

                    <svg width="25" height="25" class="arrow__box-mobile-icon btn2">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
</section>