<header class="header" id="header">
    <a class="logo" href="/" aria-label="logo company">
        <span class="logo__name">Anastasia.</span>TheCreator
    </a>

    <button class="mobile-btn js-mobile-menu-button" type="button" aria-label="Switch mobile menu" aria-expanded="false"
        aria-controls="mobile-menu">
        <svg class="mobile-btn__icon" width="20" height="20">
            <use class="mobile-btn__icon-open" href="./images/sprite.svg#menu_40px"></use>
            <use class="mobile-btn__icon-close" href="./images/sprite.svg#close_40px"></use>
        </svg>
    </button>

    <!-- ========= MOBILE MENU ===========-->
    <div class="header__mobile-menu mobile-menu js-mobile-menu" id="mobile-menu">
        <nav class="mobile-menu__navigation navigation">
            <ul class="navigation__list js-mobile-menu-links">
                <li class="navigation__item">
                    <a class="navigation__link translate" data-en="Cases" data-ua="Роботи" href="#cases"
                        aria-label="Cases">Cases</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link translate" data-en="Testimonials" data-ua="Відгуки" href="#testimonials"
                        aria-label="Testimonials">Testimonials</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link translate" data-en="Services" data-ua="Послуги" href="#services"
                        aria-label="Services">Services</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link translate" data-en="About me" data-ua="Про мене" href="#about"
                        aria-label="About me">About me</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link" href="#faq" aria-label="FAQ">FAQ</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link translate" data-en="Contacts" data-ua="Контакти" href="#contacts"
                        aria-label="Contacts">Contacts</a>
                </li>
            </ul>
        </nav>

        <div class="mobile-menu__footer">
            <div class="sound">
                <div class="sound__vol" data-vol="on"><span class="sound__text translate" data-en="Sound on"
                        data-ua="Звук вкл">Sound on</span>
                    <svg class="sound__icon" width="18" height="18">
                        <use class="sound__icon-on" href="./images/sprite.svg#sound"></use>
                    </svg>
                </div>

                <div class="sound__vol hidden" data-vol="off"> <span class="sound__text translate" data-en="Sound off"
                        data-ua="Звук викл">Sound off</span>
                    <svg class="sound__icon" width="18" height="18">
                        <use class="sound__icon-off" href="./images/sprite.svg#sound_off"></use>
                    </svg>
                </div>
            </div>

            <div class="translate-box">
                <label class="switch">
                    <label class="label label--isActive translate-button word1"  data-lang="en">En</label>

                    <input class="translate__inp switcher" type="checkbox" >
                    <span class="switcher"></span>

                    <label class="label translate-button word2"  data-lang="ua">Ua</label>
                </label>
            </div>
        </div>
    </div>
</header>