<section class="home section" id="home">
    <div class="home__container container">
        <p class="home__text">// Available for freelance work</p>
        <article class="hero">
            <span class="hero__border">(</span>
            <img class="hero__avatar" src="./images/home/avatar.png" alt="avatar" width="79" height="79"
                loading="lazy" />
            <p class="hero__descr">Human being UX/UI designer Art Director</p>
            <span class="hero__border">)</span>
            <svg class="hero__icon" width="13" height="14">
                <use href="./images/sprite.svg#flower"></use>
            </svg>
        </article>
        <h1 class="home__title title">I create websites for businesses that help to become market leaders.</h1>
        <audio src="/src/mp3/Voicy_Anastasia.mp3" id="audio" data-audio="owner" class="audio" preload="metadata"
            loop="true"></audio>
        <div class="home__player player" id="player">
            <div class="player__wrapper">
                <div class="player__road">
                    <div class="player__row">
                        <button class="player__btn play--btn" type="button" data-play='play' data-audio="owner">
                            <svg class="player__icon" width="12" height="12">
                                <use href="./images/sprite.svg#play"></use>
                            </svg>
                        </button>
                        <button class="player__btn pause--btn is-hide" type="button" data-play='pause'
                            data-audio="owner">
                            <svg class="player__icon" width="12" height="12">
                                <use href="./images/sprite.svg#pause"></use>
                            </svg>
                        </button>
                        <span class="player__name">Listen to Anastasia’s vision</span>
                    </div>
                    <div class="player__row">
                        <div class="sound-set">
                            <svg class="player__icon" width="15" height="15">
                                <use href="./images/sprite.svg#sound_off"></use>
                            </svg>
                            <!-- 
                            <svg class="player__icon" width="15" height="15">
                                <use href="./images/sprite.svg#sound_1"></use>
                            </svg>
                            <svg class="player__icon" width="15" height="15">
                                <use href="./images/sprite.svg#sound_2"></use>
                            </svg>
                            <svg class="player__icon" width="15" height="15">
                                <use href="./images/sprite.svg#sound_3"></use>
                            </svg>
                            <svg class="player__icon" width="15" height="15">
                                <use href="./images/sprite.svg#sound_4"></use>
                            </svg>
                            <svg class="player__icon" width="15" height="15">
                                <use href="./images/sprite.svg#sound_5"></use>
                            </svg>
                            <svg class="player__icon" width="15" height="15">
                                <use href="./images/sprite.svg#sound_6"></use>
                            </svg>
                            <svg class="player__icon" width="15" height="15">
                                <use href="./images/sprite.svg#sound_7"></use>
                            </svg>
                            <svg class="player__icon" width="15" height="15">
                                <use href="./images/sprite.svg#sound_8"></use>
                            </svg>
                            <svg class="player__icon" width="15" height="15">
                                <use href="./images/sprite.svg#sound_9"></use>
                            </svg> -->
                        </div>
                        <span class="player__time">00:20</span>
                    </div>
                </div>
                <button class="player__switch-subtitle" type="button" data-audio="owner">
                    <svg class="player__icon" width="10" height="10">
                        <use href="./images/sprite.svg#arrow-right2"></use>
                    </svg>A</button>
            </div>
            <div class="player__subtitle hidden" data-audio="owner">
                <p>
                    Hi, my name is Anastasia. I'm a human being UX/UI designer and Art Director. I create websites for
                    businesses that help
                    to become market leaders.
                    We communicate with our clients through email, phone calls, and virtual meetings to ensure their
                    needs and expectations
                    are met throughout the design process.
                </p>
                <svg class="player__icon" width="30" height="15">
                    <use href="./images/sprite.svg#triangle-left"></use>
                </svg>
            </div>
        </div>
    </div>
</section>