<section class="services section" id="services">
    <div class="services__wrap">
        <div class="services__subsection titles services__subsection--titles">
            <div class="services__title-group">
                <h2 class="services__title title translate" data-en="What services" data-ua="Які послуги">What services
                </h2>
                <h2 class="services__title title translate" data-en="do I provide?" data-ua="я надаю?">do I provide?
                </h2>
            </div>
        </div>
        <ul class="services__subsection cards services__subsection--cards">
            <li class="services__card card">
                <div class="card__header">
                    <div class="card__terms text"><span class="translate" data-en="Terms"
                            data-ua="Терміни">Terms:</span><span class="translate" data-en="4 days+" data-ua="4 дні+">4
                            days+</span></div>
                    <p class="card__count text text--white"><span class="card__count-current">01</span> / <span
                            class="card__count-total">04</span></p>
                </div>
                <div class="card__titles text--white">
                    <h3 class="card__title translate" data-en="Landing" data-ua="Лендинг">Landing</h3>
                    <Landing class="card__desc translate"
                        data-en="Landing page is a landing page with a call to action, display of a product or a service. The main task of building a website is commission of a target action by client."
                        data-ua="Landing page – цільова сторінка із закликом до дії, показом товару чи послуги. Основним завданням створення сайту є здійснення клієнтом цільової дії.">
                        Landing page is a landing page with a call to action, display of a product or
                        a service. The main task of building a
                        website is commission of a target action by client.</p>
                </div>
                <div class="card__footer">
                    <ul class="card__price-list">
                        <li class="card__price-item text text--white">
                            <span class="card__price-detail translate" data-en="Design
                            only:" data-ua="Тільки дизайн:">Design
                                only:</span>
                            <span class="card__price-amount translate" data-en="about 300$" data-ua="близько 300$">about
                                300$</span>
                        </li>
                        <li class="card__price-item text text--white">
                            <span class="card__price-detail translate" data-en="Design+Dev:"
                                data-ua="Дизайн+Розробка:">Design+Dev:</span>
                            <span class="card__price-amount translate" data-en="about 500$"
                                data-ua="приблизно 500$">about
                                500$</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="services__card card">
                <div class="card__header">
                    <div class="card__terms text"><span class="translate" data-en="Terms"
                            data-ua="Терміни">Terms:</span><span class="translate" data-en="4 days+" data-ua="4 дні+">4
                            days+</span></div>
                    <p class="card__count text text--white"><span class="card__count-current">02</span> / <span
                            class="card__count-total">04</span></p>
                </div>
                <div class="card__titles text text--white">
                    <h3 class="card__title translate" data-en="Multi-page website" data-ua="Багатосторінковий сайт">
                        Multi-page website</h3>
                    <p class="card__desc translate"
                        data-en="We make websites for any task: a product page, a special project, a promo or an online store. Nocode and speed"
                        data-ua="Ми створюємо сайти під будь-яке завдання: сторінка товару, спецпроект, промо або інтернет-магазин. Nocode і швидкість">
                        We make websites for any
                        task: a product page, a special project,
                        a promo or an online store. Nocode and speed</p>
                </div>
                <div class="card__footer">
                    <ul class="card__price-list">
                        <li class="card__price-item text text--white">
                            <span class="card__price-detail translate" data-en="Design only:"
                                data-ua="Тільки дизайн:">Design
                                only:</span>
                            <span class="card__price-amount translate" data-en="about 300$" data-ua="близько 300$">about
                                300$</span>
                        </li>
                        <li class="card__price-item text text--white">
                            <span class="card__price-detail translate" data-en="Design+Dev:"
                                data-ua="Дизайн+Розробка:">Design+Dev:</span>
                            <span class="card__price-amount translate" data-en="about 500$"
                                data-ua="приблизно 500$">about
                                500$</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="services__card card">
                <div class="card__header">
                    <div class="card__terms text"><span class="translate" data-en="Terms"
                            data-ua="Терміни">Terms:</span><span class="translate" data-en="4 days+" data-ua="4 дні+">4
                            days+</span></div>
                    <p class="card__count text text--white"><span class="card__count-current">03</span> / <span
                            class="card__count-total">04</span></p>
                </div>
                <div class="card__titles text--white">
                    <h3 class="card__title translate" data-en="Corporate website" data-ua="Корпоративний сайт">Corporate
                        website</h3>
                    <Corporate class="card__desc translate"
                        data-en="Corporate website is representation of your company on the internet. This type of website reveals the essence of the company, forms your image and brand."
                        data-ua="Корпоративний сайт - це представлення Вашої компанії в Інтернеті. Такий сайт розкриває суть компанії, формує ваш імідж і бренд.">
                        Corporate website
                        is representation of your company on the internet. This type
                        of website reveals the essence of the
                        company, forms your image and brand.</p>
                </div>
                <div class="card__footer">
                    <ul class="card__price-list">
                        <li class="card__price-item text text--white">
                            <span class="card__price-detail translate" data-en="Design only:"
                                data-ua="Тільки дизайн:">Design
                                only:</span>
                            <span class="card__price-amount translate" data-en="about 300$" data-ua="близько 300$">about
                                300$</span>
                        </li>
                        <li class="card__price-item text text--white">
                            <span class="card__price-detail translate" data-en="Design+Dev:"
                                data-ua="Дизайн+Розробка:">Design+Dev:</span>
                            <span class="card__price-amount translate" data-en="about 500$"
                                data-ua="приблизно 500$">about
                                500$</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="services__card card">
                <div class="card__header">
                    <div class="card__terms text"><span class="translate" data-en="Terms"
                            data-ua="Терміни">Terms:</span><span class="translate" data-en="4 days+" data-ua="4 дні+">4
                            days+</span></div>
                    <p class="card__count text text--white"><span class="card__count-current">04</span> / <span
                            class="card__count-total">04</span></p>
                </div>
                <div class="card__titles text text--white">
                    <h3 class="card__title translate" data-en="Online store" data-ua="Онлайн-магазин">Online store</h3>
                    <Online class="card__desc translate"
                        data-en="Online store is an automated web resource designed to sell goods online. You do not need to open additional points of sales throughout a city or a country. It is enough to have a high-quality, functional and well-built online store."
                        data-ua="Інтернет-магазин – це автоматизований веб-ресурс, призначений для продажу товарів в Інтернеті. Вам не потрібно відкривати додаткові точки продажів по місту чи країні. Досить мати якісний, функціональний і грамотно побудований інтернет-магазин.">
                        Online store is an
                        automated web resource designed to sell goods online. You
                        do not need to open additional points of
                        sales throughout a city or a country. It is enough to have a high-quality, functional and
                        well-built
                        online store.</p>
                </div>
                <div class="card__footer">
                    <ul class="card__price-list">
                        <li class="card__price-item text text--white">
                            <span class="card__price-detail translate" data-en="Design only:"
                                data-ua="Тільки дизайн:">Design
                                only:</span>
                            <span class="card__price-amount translate" data-en="about 300$" data-ua="близько 300$">about
                                300$</span>
                        </li>
                        <li class="card__price-item text text--white">
                            <span class="card__price-detail translate" data-en="Design+Dev:"
                                data-ua="Дизайн+Розробка:">Design+Dev:</span>
                            <span class="card__price-amount translate" data-en="about 500$"
                                data-ua="приблизно 500$">about
                                500$</span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="services__subsection image services__subsection--image">
            <div class="services__title-group">
                <h2 class="services__title title translate" data-en="Start to work now" data-ua="Почніть працювати зараз">Start to work now
                </h2>
                <button class="contacts-btn translate" data-en="Contact us" data-ua="Зв'яжіться з нами" type="button">Contact
                    us</button>
            </div>
            <picture>
                <source media="(min-width:1440px )"
                    srcset="./images/services/laptop_desk.webp 1x, ./images/services/laptop_desk@2x.webp 2x"
                    type="image/webp" />
                <source media="(max-width:1439,98px)"
                    srcset="./images/services/laptop_mob.webp 1x, ./images/services/laptop_mob@2x.webp 2x"
                    type="image/webp" />
                <img class="services__image" src="./images/services/laptop_desk.png" alt="Anastasia"
                    srcset="./images/services/laptop_desk.png 1288w, ./images/services/laptop_desk@2x.png 3316w"
                    sizes="(min-width:1440px) 1288px, (max-width:1439,98px) 1023px, 100vw" width="1023" height="706"
                    loading="lazy">
            </picture>
        </div>
    </div>
</section>