<aside class="sidebar">
    <a class="logo" href="#home" aria-label="logo company">
        <span class="logo__name">Anastasia.</span>TheCreator
    </a>
    <nav class="sidebar__navigation navigation">
        <ul class="navigation__list">
            <li class="navigation__item">
                <a class="navigation__link active translate" href="#home" data-en="Home" data-ua="Домашня" aria-label="Home">Home</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link translate" href="#cases" data-en="Cases" data-ua="Роботи" aria-label="Cases">Cases</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link translate" href="#testimonials" data-en="Testimonials" data-ua="Відгуки" aria-label="Testimonials">Testimonials</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link translate" href="#services" data-en="Services" data-ua="Послуги" aria-label="Services">Services</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link translate" href="#about" data-en="About me" data-ua="Про мене" aria-label="About me">About me</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link translate" href="#faq" aria-label="FAQ">FAQ</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link translate" href="#contacts" data-en="Contacts" data-ua="Контакти" aria-label="Contacts">Contacts</a>
            </li>
        </ul>
    </nav>
    <div class="sound">
        <div class="sound__vol" data-vol="on"><span class="sound__text translate" data-en="Sound on" data-ua="Звук вкл">Sound on</span>
            <svg class="sound__icon" width="18" height="18">
                <use class="sound__icon-on" href="./images/sprite.svg#sound"></use>
            </svg>
        </div>
        <div class="sound__vol hidden" data-vol="off"> <span class="sound__text translate" data-en="Sound off" data-ua="Звук викл">Sound off</span>
            <svg class="sound__icon" width="18" height="18">
                <use class="sound__icon-off" href="./images/sprite.svg#sound_off"></use>
            </svg>
        </div>
    </div>
</aside>