<section class="testimonials__section section" id="testimonials">
  <div class="testimonials__wrap">
        <h2 class="testimonials__title">WHAT MY<br />CLIENTS SAY</h2>
        <div class="testimonials__scroll">
            <p class="testimonials__text-toScroll">Keep scrolling</p>
            <img class="testimonials__flower-scroll" src="./images/flower.png" alt="scrolling flower" />
        </div>
    </div>
    <div class="testimonials__listOfClients-wrap _anim-items">
      <audio src="/src/mp3/Voicy_Allahu_Akbar_BANG.mp3" id="audio_1" class="audio audio_player audio_player1" preload="metadata" loop="true"></audio>
      <audio src="/src/mp3/Voicy_And we say bye bye.mp3" id="audio_2" class="audio audio_player audio_player2" preload="metadata" loop="true"></audio>
      <audio src="/src/mp3/Voicy_Do not walk away from your queen.mp3" id="audio_3" class="audio audio_player audio_player3" preload="metadata" loop="true"></audio>
      <audio src="/src/mp3/Voicy_Kanye West Hated.mp3" id="audio_4" class="audio audio_player audio_player4" preload="metadata" loop="true"></audio>
      <audio src="/src/mp3/Voicy_Nothing is impossible!.mp3" id="audio_5" class="audio audio_player audio_player5" preload="metadata" loop="true"></audio>
      <audio src="/src/mp3/Voicy_WHAT ARE YOU DOING IN MY SWAMP.mp3" id="audio_6" class="audio audio_player audio_player6" preload="metadata" loop="true"></audio>
        <ul class="testimonials__listOfClients _anim-items">
        </ul>
    </div>
</section>