<section class="testimonials-section" id="testimonials">
    <div class="testimonials-wrap ">
        <h2 class="testimonials-title">WHAT MY<br />CLIENTS SAY</h2>
        <div class="testimonials-scroll">
            <p class="testimonials-text__toScroll">Keep scrolling</p>
            <img class="testimonials-scroll-flower" src="./images/flower.png" alt="scrolling flower" />
        </div>
    </div>
    <div class="testimonials-listOfClients--wrap _anim-items">
        <ul class="testimonials-listOfClients">
          <!-- client 1 -->
            <li id="anchor_1" class="cases-client-container cases-client-container_1" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-delay="300"
            data-aos-easing="ease-in-sine">
                <div class="cases-client-wrap">
                  <img class="cases-client-img" src="/src/images/clients/client_1.jpg" alt="client number 1" />
                  <div class="cases-client-data">
                      <p>Name Surname</p>
                      <p>Company name</p>
                  </div>
                </div>
                <!-- (B) AUDIO PLAYERS -->
                    <div class="wrapper">
                      <div class="music-container" id="music-container1">
                        <audio src="/src/mp3/Voicy_Allahu Akbar BANG.mp3" id="audio_1" class="audio audio_player audio_player1" preload="metadata" loop="true"></audio>
                        <div class="testimonials-navigation">
                          <button type="button" id="play1" class="action-btn action-btn-big">
                              <img src="./images/play.svg"
                                class="fas fa-play" alt="play button"
                                />
                          </button>
                          <button type="button" id="pause1" class="action-btn action-btn-big is-hide">
                            <img src="./images/pause.svg"
                              class="fas fa-pause" alt="pause button"
                              />
                        </button>
                          <p class="short-title">Short title</p>
                          <div class="range-container__wraper">
                            <div class="range-container range-container_1">
                              <img src="./images/volumeMute.svg" alt="sound-mute" class="fas volumeMute_1"/>
                              <input title="range" type="range" name="volume" class="player_slider player_slider_1" min="0" max="1" step="0.05" value="1"></input>
                              <img src="./images/soundUp.svg" alt="sound-mute" class="fas soundUp_1"/>
                            </div>
                          </div>
                          <button type="button" class="action-btn speaker" id="speaker_icon1">
                          <div class="music-info">
                              <div class="progress-container progress-range1" id="progress-container_1">
                                  <div class="progress progress-bar_1" id="progress1_1"></div>
                                  <div class="progress progress-bar_1" id="progress2_1"></div>
                                  <div class="progress progress-bar_1" id="progress3_1"></div>
                                  <div class="progress progress-bar_1" id="progress4_1"></div>
                                  <div class="progress progress-bar_1" id="progress5_1"></div>
                              </div>
                            </div>
                          </button>          
                          <div class="time">
                            <span class="time-elapsed_1">00:10</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="subtitle-container">
                      <div class="testimonials-subtitlesBtn">
                        <button type="button" title="swithSubtitle" class="switchSubtitleBtn switchSubtitleBtn_1" data-count="switchSubtitleBtn_1">A</button>
                      </div>
                      <div class="testimonials-subtitles testimonials-subtitles_1">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque ut autem ad unde. Repellat delectus, sed quo, accusantium ad recusandae inventore illum fuga est, provident obcaecati molestiae fugit et.</p>
                      </div>
                    </div>
            </li>
          <!-- client 2 -->
            <li id="anchor_2" class="cases-client-container cases-client-container_2" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-anchor="#anchor_1"
            data-aos-delay="500"
            data-aos-duration="2000">
                <div class="cases-client-wrap">
                  <img class="cases-client-img" src="/src/images/clients/client_2.jpg" alt="client number 2" />
                  <div class="cases-client-data">
                      <p>Name Surname</p>
                      <p>Company name</p>
                  </div>
                </div>
                <!-- (B) AUDIO PLAYERS -->
                    <div class="wrapper">
                      <div class="music-container" id="music-container2">
                        <audio src="/src/mp3/Voicy_And we say bye bye.mp3" id="audio_2" class="audio audio_player audio_player2" preload="metadata" loop="true"></audio>
                        <div class="testimonials-navigation">
                          <button type="button" id="play2" class="action-btn action-btn-big">
                              <img src="./images/play.svg"
                                class="fas fa-play" alt="play button"
                                />
                          </button>
                          <button type="button" id="pause2" class="action-btn action-btn-big is-hide">
                            <img src="./images/pause.svg"
                              class="fas fa-pause" alt="pause button"
                              />
                        </button>
                          <p class="short-title">Short title</p>
                          <div class="range-container__wraper">
                            <div class="range-container range-container_2">
                              <img src="./images/volumeMute.svg" alt="sound-mute" class="fas volumeMute_2"/>
                              <input title="range" type="range" name="volume" class="player_slider player_slider_2" min="0" max="1" step="0.05" value="1"></input>
                              <img src="./images/soundUp.svg" alt="sound-mute" class="fas soundUp_2"/>
                            </div>
                          </div>
                          <button type="button" class="action-btn speaker" id="speaker_icon2">
                          <div class="music-info">
                              <div class="progress-container progress-range2" id="progress-container_2">
                                  <div class="progress progress-bar_2" id="progress1_2"></div>
                                  <div class="progress progress-bar_2" id="progress2_2"></div>
                                  <div class="progress progress-bar_2" id="progress3_2"></div>
                                  <div class="progress progress-bar_2" id="progress4_2"></div>
                                  <div class="progress progress-bar_2" id="progress5_2"></div>
                              </div>
                            </div>
                          </button>          
                          <div class="time">
                            <span class="time-elapsed_2">00:10</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="subtitle-container">
                      <div class="testimonials-subtitlesBtn">
                        <button type="button" title="swithSubtitle" class="switchSubtitleBtn switchSubtitleBtn_2" data-count="switchSubtitleBtn_2">A</button>
                      </div>
                      <div class="testimonials-subtitles testimonials-subtitles_2">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque ut autem ad unde. Repellat delectus, sed quo, accusantium ad recusandae inventore illum fuga est, provident obcaecati molestiae fugit et.</p>
                      </div>
                    </div>
            </li>
          <!-- client 3 -->
            <li id="anchor_3" class="cases-client-container cases-client-container_3" data-aos="zoom-in"             data-aos-anchor="#anchor_2"
            data-aos-delay="800"
            data-aos-easing="ease-in-sine">
                <div class="cases-client-wrap">
                  <img class="cases-client-img" src="/src/images/clients/client_3.jpg" alt="client number 3" />
                  <div class="cases-client-data">
                      <p>Name Surname</p>
                      <p>Company name</p>
                  </div>
                </div>
                <!-- (B) AUDIO PLAYERS -->
                    <div class="wrapper">
                      <div class="music-container" id="music-container3">
                        <audio src="/src/mp3/Voicy_Do not walk away from your queen.mp3" id="audio_3" class="audio audio_player audio_player3" preload="metadata" loop="true"></audio>
               
                        <div class="testimonials-navigation">
                          <button type="button" id="play3" class="action-btn action-btn-big">
                              <img src="./images/play.svg"
                                class="fas fa-play" alt="play button"
                                />
                          </button>
                          <button type="button" id="pause3" class="action-btn action-btn-big is-hide">
                            <img src="./images/pause.svg"
                              class="fas fa-pause" alt="pause button"
                              />
                        </button>
                          <p class="short-title">Short title</p>
                          <div class="range-container__wraper">
                            <div class="range-container range-container_3">
                              <img src="./images/volumeMute.svg" alt="sound-mute" class="fas volumeMute_3"/>
                              <input title="range" type="range" name="volume" class="player_slider player_slider_3" min="0" max="1" step="0.05" value="1"></input>
                              <img src="./images/soundUp.svg" alt="sound-mute" class="fas soundUp_3"/>
                            </div>
                          </div>
                          <button type="button" class="action-btn speaker" id="speaker_icon3">
                          <div class="music-info">
                              <div class="progress-container progress-range3" id="progress-container_3">
                                  <div class="progress progress-bar_3" id="progress1_3"></div>
                                  <div class="progress progress-bar_3" id="progress2_3"></div>
                                  <div class="progress progress-bar_3" id="progress3_3"></div>
                                  <div class="progress progress-bar_3" id="progress4_3"></div>
                                  <div class="progress progress-bar_3" id="progress5_3"></div>
                              </div>
                            </div>
                          </button>          
                          <div class="time">
                            <span class="time-elapsed_3">00:10</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="subtitle-container">
                      <div class="testimonials-subtitlesBtn">
                        <button type="button" title="swithSubtitle" class="switchSubtitleBtn switchSubtitleBtn_3" data-count="switchSubtitleBtn_3">A</button>
                      </div>
                      <div class="testimonials-subtitles testimonials-subtitles_3">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque ut autem ad unde. Repellat delectus, sed quo, accusantium ad recusandae inventore illum fuga est, provident obcaecati molestiae fugit et.</p>
                      </div>
                    </div>
            </li>
          <!-- client 4 -->
            <li id="anchor_4" class="cases-client-container cases-client-container_4" data-aos="fade-zoom-in"
            data-aos-easing="ease-in-back"
            data-aos-delay="300"
            data-aos-anchor="#anchor_2"
            data-aos-offset="0">
                <div class="cases-client-wrap">
                  <img class="cases-client-img" src="/src/images/clients/client_1.jpg" alt="client number 4" />
                  <div class="cases-client-data">
                      <p>Name Surname</p>
                      <p>Company name</p>
                  </div>
                </div>
                <!-- (B) AUDIO PLAYERS -->
                    <div class="wrapper">
                      <div class="music-container" id="music-container4">
                        <audio src="/src/mp3/Voicy_Kanye West Hated.mp3" id="audio_4" class="audio audio_player audio_player4" preload="metadata" loop="true"></audio>
               
                        <div class="testimonials-navigation">
                          <button type="button" id="play4" class="action-btn action-btn-big">
                              <img src="./images/play.svg"
                                class="fas fa-play" alt="play button"
                                />
                          </button>
                          <button type="button" id="pause4" class="action-btn action-btn-big is-hide">
                            <img src="./images/pause.svg"
                              class="fas fa-pause" alt="pause button"
                              />
                        </button>
                          <p class="short-title">Short title</p>
                          <div class="range-container__wraper">
                            <div class="range-container range-container_4">
                              <img src="./images/volumeMute.svg" alt="sound-mute" class="fas volumeMute_4"/>
                              <input title="range" type="range" name="volume" class="player_slider player_slider_4" min="0" max="1" step="0.05" value="1"></input>
                              <img src="./images/soundUp.svg" alt="sound-mute" class="fas soundUp_4"/>
                            </div>
                          </div>
                          <button type="button" class="action-btn speaker" id="speaker_icon4">
                          <div class="music-info">
                              <div class="progress-container progress-range4" id="progress-container_4">
                                  <div class="progress progress-bar_4" id="progress1_4"></div>
                                  <div class="progress progress-bar_4" id="progress2_4"></div>
                                  <div class="progress progress-bar_4" id="progress3_4"></div>
                                  <div class="progress progress-bar_4" id="progress4_4"></div>
                                  <div class="progress progress-bar_4" id="progress5_4"></div>
                              </div>
                            </div>
                          </button>          
                          <div class="time">
                            <span class="time-elapsed_4">00:10</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="subtitle-container">
                      <div class="testimonials-subtitlesBtn">
                        <button type="button" title="swithSubtitle" class="switchSubtitleBtn switchSubtitleBtn_4" data-count="switchSubtitleBtn_4">A</button>
                      </div>
                      <div class="testimonials-subtitles testimonials-subtitles_4">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque ut autem ad unde. Repellat delectus, sed quo, accusantium ad recusandae inventore illum fuga est, provident obcaecati molestiae fugit et.</p>
                      </div>
                    </div>
            </li>
          <!-- client 5 -->
            <li id="anchor_5" class="cases-client-container cases-client-container_5" data-aos="fade-left"
            data-aos-anchor="#anchor_3"
            data-aos-offset="50"
            data-aos-duration="500">
                <div class="cases-client-wrap">
                  <img class="cases-client-img" src="/src/images/clients/client_2.jpg" alt="client number 5" />
                  <div class="cases-client-data">
                      <p>Name Surname</p>
                      <p>Company name</p>
                  </div>
                </div>
                <!-- (B) AUDIO PLAYERS -->
                    <div class="wrapper">
                      <div class="music-container" id="music-container5">
                        <audio src="/src/mp3/Voicy_Nothing is impossible!.mp3" id="audio_5" class="audio audio_player audio_player5" preload="metadata" loop="true"></audio>
               
                        <div class="testimonials-navigation">
                          <button type="button" id="play5" class="action-btn action-btn-big">
                              <img src="./images/play.svg"
                                class="fas fa-play" alt="play button"
                                />
                          </button>
                          <button type="button" id="pause5" class="action-btn action-btn-big is-hide">
                            <img src="./images/pause.svg"
                              class="fas fa-pause" alt="pause button"
                              />
                        </button>
                          <p class="short-title">Short title</p>
                          <div class="range-container__wraper">
                            <div class="range-container range-container_5">
                              <img src="./images/volumeMute.svg" alt="sound-mute" class="fas volumeMute_5"/>
                              <input title="range" type="range" name="volume" class="player_slider player_slider_5" min="0" max="1" step="0.05" value="1"></input>
                              <img src="./images/soundUp.svg" alt="sound-mute" class="fas soundUp_5"/>
                            </div>
                          </div>
                          <button type="button" class="action-btn speaker" id="speaker_icon5">
                          <div class="music-info">
                              <div class="progress-container progress-range5" id="progress-container_5">
                                  <div class="progress progress-bar_5" id="progress1_5"></div>
                                  <div class="progress progress-bar_5" id="progress2_5"></div>
                                  <div class="progress progress-bar_5" id="progress3_5"></div>
                                  <div class="progress progress-bar_5" id="progress4_5"></div>
                                  <div class="progress progress-bar_5" id="progress5_5"></div>
                              </div>
                            </div>
                          </button>          
                          <div class="time">
                            <span class="time-elapsed_5">00:10</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="subtitle-container">
                      <div class="testimonials-subtitlesBtn">
                        <button type="button" title="swithSubtitle" class="switchSubtitleBtn switchSubtitleBtn_5" data-count="switchSubtitleBtn_5">A</button>
                      </div>
                      <div class="testimonials-subtitles testimonials-subtitles_5">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque ut autem ad unde. Repellat delectus, sed quo, accusantium ad recusandae inventore illum fuga est, provident obcaecati molestiae fugit et.</p>
                      </div>
                    </div>
            </li>
          <!-- client 6 -->
            <li id="anchor_6" class="cases-client-container cases-client-container_6" data-aos="zoom-out-left"             data-aos-anchor="#anchor_3">
                <div class="cases-client-wrap">
                  <img class="cases-client-img" src="/src/images/clients/client_3.jpg" alt="client number 6" />
                  <div class="cases-client-data">
                      <p>Name Surname</p>
                      <p>Company name</p>
                  </div>
                </div>
                <!-- (B) AUDIO PLAYERS -->
                    <div class="wrapper">
                      <div class="music-container" id="music-container6">
                        <audio src="/src/mp3/Voicy_WHAT ARE YOU DOING IN MY SWAMP.mp3" id="audio_6" class="audio audio_player audio_player6" preload="metadata" loop="true"></audio>
               
                        <div class="testimonials-navigation">
                          <button type="button" id="play6" class="action-btn action-btn-big">
                              <img src="./images/play.svg"
                                class="fas fa-play" alt="play button"
                                />
                          </button>
                          <button type="button" id="pause6" class="action-btn action-btn-big is-hide">
                            <img src="./images/pause.svg"
                              class="fas fa-pause" alt="pause button"
                              />
                        </button>
                          <p class="short-title">Short title</p>
                          <div class="range-container__wraper">
                            <div class="range-container range-container_6">
                              <img src="./images/volumeMute.svg" alt="sound-mute" class="fas volumeMute_6"/>
                              <input title="range" type="range" name="volume" class="player_slider player_slider_6" min="0" max="1" step="0.05" value="1"></input>
                              <img src="./images/soundUp.svg" alt="sound-mute" class="fas soundUp_6"/>
                            </div>
                          </div>
                          <button type="button" class="action-btn speaker" id="speaker_icon6">
                          <div class="music-info">
                              <div class="progress-container progress-range6" id="progress-container_6">
                                  <div class="progress progress-bar_6" id="progress1_6"></div>
                                  <div class="progress progress-bar_6" id="progress2_6"></div>
                                  <div class="progress progress-bar_6" id="progress3_6"></div>
                                  <div class="progress progress-bar_6" id="progress4_6"></div>
                                  <div class="progress progress-bar_6" id="progress5_6"></div>
                              </div>
                            </div>
                          </button>          
                          <div class="time">
                            <span class="time-elapsed_6">00:10</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="subtitle-container">
                      <div class="testimonials-subtitlesBtn">
                        <button type="button" title="swithSubtitle" class="switchSubtitleBtn switchSubtitleBtn_6" data-count="switchSubtitleBtn_6">A</button>
                      </div>
                      <div class="testimonials-subtitles testimonials-subtitles_6">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque ut autem ad unde. Repellat delectus, sed quo, accusantium ad recusandae inventore illum fuga est, provident obcaecati molestiae fugit et.</p>
                      </div>
                    </div>
            </li>
        </ul>
    </div>
</section>