.navigation {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__item {
        color: var(--cl-txt-main);

        &:hover,
        &:focus,
        &:active {
            color: var(--cl-txt-accent);
        }
    }


    &__link {
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: -1.8px;

        transition: color var(--anim);

        &.active {
            color: var(--cl-txt-accent);
        }
    }
}