.player {
    display: flex;
    color: var(--cl-txt-white);

    &__road {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: calc(100% - 36px);
        max-width: 304px;
        padding: 9px 12px;

        background-color: var(--bgc-accent);
        border-radius: 10px;
        overflow: hidden;
    }

    &__name {
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.56px;
    }

    &__btn {
        color: currentColor;
        background-color: var(--bgc-accent);
        border: none;
    }

    &__text {
        display: flex;
        width: 36px;
        height: 36px;
        padding: 4px;
        justify-content: center;
        align-items: center;
        gap: 2px;
        flex-shrink: 0;

        color: var(--cl-txt-white);
        background-color: var(--bgc-accent);
        border: none;
        border-radius: 10px;
        overflow: hidden;
    }

    &__icon {
        fill: currentColor;
    }
}