.player {
    display: flex;

    color: var(--cl-txt-white);

    &__wrapper {
        display: flex;
    }

    &__road {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: calc(100% - 36px);
        max-width: 304px;
        padding: 9px 12px;

        background-color: var(--bgc-accent);
        border-radius: 10px;
        overflow: hidden;
    }

    &__row {
        display: flex;
        gap: 4px;

        &:nth-of-type(2) {
            justify-content: space-between;
            width: 55px;
        }
    }

    &__time {
        width: 40px;
    }

    &__name {
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.56px;
    }

    &__btn {
        padding: 0;
        color: currentColor;
        background-color: var(--bgc-accent);
        border: none;
        cursor: pointer;
    }

    &__switch-subtitle {
        display: flex;
        width: 36px;
        height: 36px;
        padding: 4px;
        justify-content: center;
        align-items: center;
        gap: 2px;
        flex-shrink: 0;

        color: var(--cl-txt-white);
        background-color: var(--bgc-accent);
        border: none;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
    }

    &__icon {
        fill: currentColor;
    }

    &__subtitle {
        position: relative;
        width: 100%;
        max-width: 340px;
        height: auto;
        padding: 16px 8px 16px 20px;

        border-radius: 20px;
        background: var(--bgc-main);

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.56px;
        color: var(--cl-txt-accent);
    }
}