.sound {
    color: var(--cl-txt-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.7px;

    transition: color var(--anim);

    &:hover,
    &:focus {
        color: var(--cl-txt-accent);
    }

    & svg {
        fill: currentColor;
    }

    &__vol {
        display: flex;
        align-items: center;
        gap: 5px;

        &[data-vol='off'] {
            color: var(--cl-txt-grey);
        }

        &.hidden {
            display: none;
        }
    }
}