.translate {
    display: flex;
    align-items: center;
    gap: 5px;

    color: var(--cl-txt-grey);
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.56px;

    transition: color var(--anim);

    &:hover,
    &:focus {
        color: var(--cl-txt-accent);
    }

    &__text.active {
        color: var(--cl-txt-accent);
    }

    & svg {
        fill: currentColor;
        cursor: pointer;
    }
}