.cases {
  &__title {
    color: var(--cl-txt-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.7px;
    margin-bottom: 18px;
  }
}

.list {
  display: flex;

  &__item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-img {
    display: block;

    @include mq(desktop) {
      display: none;
    }
  }

  &__item-imgDesk {
    display: none;

    @include mq(desktop) {
      display: block;
      width: 1120px;
      height: 566px;
    }
  }

  &__item-imgFlags {
    display: none;

    @include mq(desktop) {
      display: block;
      position: absolute;
      right: 20px;
    }
  }

  &__item-title {
    color: var(--cl-txt-main);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    /* 100% */
    letter-spacing: -1.5px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;

    @include mq(desktop) {
      font-size: 41px;
      font-weight: 500;
      line-height: 46px;
      /* 112.195% */
      letter-spacing: -1.845px;
    }
  }

  &__item-discr {
    color: var(--cl-txt-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.7px;
    width: 280px;
  }
}

.title-desk {
  display: none;

  @include mq(desktop) {
    display: block;
  }
}

.title-mob {
  display: block;

  @include mq(desktop) {
    display: none;
  }
}

.list__item-commerce {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
}

.item__commerce-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  border-radius: 50px;
  background: var(--bgc-main);

  color: var(--cl-txt-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  /* 128.571% */
  letter-spacing: -0.7px;
}

.item__commerce-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  border-radius: 100px;
  border-color: transparent;
  background: var(--bgc-main);
  font-weight: bold;
  cursor: pointer;
  transition: color var(--anim);

  &:hover,
  &:focus {
    background: var(--cl-txt-grey);
    color: var(--bgc-main);
    transition: color var(--anim);
  }
}

// SLIDER

.slider {
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  margin-top: 30px;
  width: 75px;
  height: 2px;
}

.slides::-webkit-scrollbar-thumb {
  background: var(--bgc-accent);
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides-box {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 315px;
  margin-right: 15px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  margin-bottom: 30px;

  @include mq(desktop) {
    width: auto;
  }

  &:last-child {
    margin-right: 0;
  }
}

.slider-nav {
  position: absolute;
  top: 40%;
  transform: translate(0,-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  z-index: 10;

  @include mq(desktop) {
    padding: 0 20px;
  }
}

.btn {
  cursor: pointer;
  fill: var(--bgc-stroke);

  &:hover,
  &:focus {
    background-color: rgba(120, 120, 120, 0.463);
    border-radius: 50px;
    fill: #ffffff;
  }

  &:nth-child(1) {
    order: 1;
  }

  &:nth-child(2) {
    order: 2;
  }
}
