.header {
    position: fixed;
    top: 0;
    width: 95vw;
    z-index: 11;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
    text-align: left;

    padding: 36px 16px 16px;

    background-color: var(--bgc-main);
    border-bottom: 1px solid var(--bgc-stroke);

    transition: transform var(--anim);

    &-hide {
        display: none;
        transform: translateY(-73px);
    }

    &-show {
        display: flex;
        transform: translateY(0);
    }

    @include mq(desktop) {
        display: none;
    }
}

// ========== logo ==========
.logo {
    z-index: 13;
    font-family: 'Libre Caslon Display';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.602px;
    letter-spacing: -0.593px;
    color: var(--cl-txt-accent);

    &__name {
        font-weight: 700;
        line-height: 18.602px;
        letter-spacing: -0.814px;
    }
}

// ========== mobile button ==========
.mobile-btn {
    z-index: 14;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;

    color: var(--cl-txt-main);
    background: transparent;
    border: none;

    cursor: pointer;
    transition: color var(--anim);

    &:hover,
    &:focus {
        color: var(--cl-txt-accent);
    }

    &.is-open {
        position: fixed;
        top: 36px;
        right: 16px;
        z-index: 14;
        color: var(--cl-txt-grey);
    }

    @include mq(desktop) {
        display: none;
    }


    &__icon {
        fill: currentColor;

        &-open {
            display: block;

            .mobile-btn.is-open & {
                display: none;
            }
        }
    }

    &__icon-close {
        display: none;

        .mobile-btn.is-open & {
            position: fixed;
            top: 36px;
            right: 16px;
            display: block;
        }
    }
}