.services {
  margin: 0;
  position: relative;
  background-color: var(--bgc-lavender);

  @include mq(desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;

    // width: calc(100vw - 300px);
    // height: 2800px;
    width: 5140px;
    height: 740px;
    flex-shrink: 0;

    border-radius: 10px;

    overflow-x: visible;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }

  &__subsection.titles {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    @include mq(desktop) {
      width: calc(100vw - 295px);
      height: 100%;

      //     position: absolute;
      //     top: 50%;
      //     left: 50%;
      //     transform: translateX(-50%);
      //     transform: translateY(-50%);
    }

    &>.services__title-group {
      opacity: 0.6;
    }
  }

  &__subsection.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;

    margin: 143px auto;

    @include mq(desktop) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;

      margin: 0;
      padding: 150px;
    }
  }

  &__subsection.image {
    height: 100%;
    padding: 200px 0;
    text-align: center;
    background-color: var(--bgc-main);

    @include mq(desktop) {
      padding: 0 150px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    & .services__title-group {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-right: 155px;
    }

    & .contacts-btn {
      margin-top: 40px;
    }
  }

  &__title {
    // max-width: 100%;
    max-width: 305px;
    text-align: center;
    color: var(--cl-txt-main);

    @include mq(desktop) {
      // max-width: 100%;
      max-width: 638px;
    }
  }

  &__image {
    margin-top: 100px;
  }
}

.card {
  width: 343px;
  padding: 20;

  background-color: var(--bgc-accent);
  border-radius: 10px;

  @include mq(tablet-only) {
    &:nth-child(2n+1) {
      transform: translateX(-150px);
    }

    &:nth-child(2n) {
      transform: translateX(150px);
    }

    &.fixed {
      transition: all 5.5s;

      &:nth-child(2n+1) {
        transform: translateX(0);
      }

      &:nth-child(2n) {
        transform: translateX(0);
      }
    }
  }

  @include mq(desktop) {
    width: 340px;
    padding: 30;

    &:nth-child(1) {
      transform: translateY(200px);
      transform: translateX(0);
    }

    &:nth-child(2) {
      transform: translateY(160px);
      transform: translateX(340px);
    }

    &:nth-child(3) {
      transform: translateY(120px);
      transform: translateX(480px);
    }

    &:nth-child(4) {
      transform: translateY(80px);
      transform: translateX(520px);
    }

    &.fixed {
      transition: all 5.5s;

      &:nth-child(1) {
        transform: translateY(-100px);
        transform: translateX(0);
      }

      &:nth-child(2) {
        transform: translateY(-60px);
        transform: translateX(340px);
      }

      &:nth-child(3) {
        transform: translateY(-20px);
        transform: translateX(480px);
      }

      &:nth-child(4) {
        transform: translateY(20px);
        transform: translateX(520px);
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 100px;
  }

  &__terms {
    display: inline-flex;
    padding: 4px 10px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 50px;
    background-color: var(--bgc-main);
  }

  &__count {
    &-total {
      opacity: 0.5;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    max-width: 280px;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 35px;
    font-style: normal;
    font-weight: 525;
    line-height: 33px;
    letter-spacing: -2.1px;
    text-transform: uppercase;
  }

  &__price-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__price-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__price-detail {
    opacity: 0.5;
  }

  &__price-amount {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.72px;
  }
}