.sidebar {
    display: none;

    @include mq(desktop) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0px;
        z-index: 20;

        display: flex;
        flex-direction: column;

        height: 100vh;

        padding: 30px 122px 30px 30px;
        background-color: var(--bgc-main);
    }
}

//========== navigation ==========
.sidebar__navigation {
    & .navigation__list {
        gap: 5px;
        margin-top: 94px;
        margin-bottom: 34px;
    }

    & .navigation__item {
        position: relative;

        &:hover,
        &:focus,
        &:active {
            color: var(--cl-txt-accent);

            &::before {
                position: absolute;
                top: 50%;
                left: -14px;
                transform: translateY(-50%);

                content: '';
                display: block;
                width: 10px;
                height: 12px;

                background-image: url(/src/images/flower.svg);
                background-size: contain;
                background-repeat: no-repeat;
                fill: currentColor;
            }
        }
    }

    & .navigation__link {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: -0.7px;

        &.active {
            &::before {
                position: absolute;
                top: 50%;
                left: -14px;
                transform: translateY(-50%);

                content: '';
                display: block;
                width: 10px;
                height: 12px;

                background-image: url(/src/images/flower.svg);
                background-size: contain;
                background-repeat: no-repeat;
                fill: currentColor;
            }
        }
    }
}