@import-normalize; /* bring in normalize.css styles */
:where(html) {
  width: -moz-fit-content;
  width: fit-content;
}
body {
  margin: 0;
  width: 100vw;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#popup-root {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}
#popup-root.is-hide{
  display: none
}
p {
  margin: 0;
  padding: 0;
}
.flatpickr-input{
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  padding: 5px 0;
  -webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
}
th{
  border-radius: 5px;

}